.usersContainer {
	display: flex;
	flex-direction: column;
}

.buttonAdd {
	width: 100px;
	margin-left: 79%;
	margin-top: 30px;
}

.paginationBox {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}